@import "/src/assets/globalStyles/variables.scss";

/* Global Styles are added here*/
/* Normalize styles and reset margins/paddings */
* {
  box-sizing: border-box;
}

/* Clear and concise headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-bottom: 0.5em;
}

body {
  height: 100%;
}

/***************************************************************Custom **************************************************************************/
/* Easy-to-read links */
a {
  color: $brand-color-dark;
  &:hover {
    text-decoration: none;
  }
}


#cloud-bg-color {
  background: -webkit-linear-gradient(#4A4A4A, #738185, #B3DAE6, white);
  background: -moz-linear-gradient(#4A4A4A, #738185, #B3DAE6, white);
  background: linear-gradient(#4A4A4A, #738185, #B3DAE6, white);
}




