@import "/src/assets/globalStyles/variables.scss";

/* Global Styles are added here*/
/* Normalize styles and reset margins/paddings */
* {
  box-sizing: border-box;
}

/* Clear and concise headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-bottom: 0.5em;
}

/* Easy-to-read links */
a {
  color: $brand-color-dark;
  &:hover {
    text-decoration: none;
  }
}

/* Height and Sizing */

// .h-100vh {
//   height: 100vh;
// }

// .center-screen {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   margin-right: -50%;
//   transform: translate(-50%, -50%);
// }
