@import "/src/assets/globalStyles/main.scss";


.message {
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 8px;
  word-wrap: break-word;
}



.sent {
  background-color: lighten($brand-color-dark, 40%);
  position: relative;
  text-align: right;
  width: 100%;
  margin-left: auto;
  width: auto;
}
.sent:before {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  z-index: 1;
  border-style: solid;
  border-color: transparent lighten($brand-color-dark, 40%);
  border-width: 15px 0 15px 4px;
  top: 50%;
  right: -4px;
  margin-top: -15px;
}

.received {
  text-align: left;
  background-color: lighten($brand-color-dark, 1%);
  color: #fff;
  position: relative;
  width: auto;
}

.received:before {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  z-index: 1;
  border-style: solid;
  border-color: transparent lighten($brand-color-dark, 1%);
  border-width: 14px 4px 14px 0;
  top: 50%;
  left: -4px;
  margin-top: -14px;
}




