@import "/src/assets/globalStyles/main.scss";

.footer {
  z-index: -1;
  background-color: $brand-color-light;
  .footer-copyright {
    background-color: $brand-color-dark;
  }
}

.font-awesome-icon {
  font-size: 1.5rem;
}


