<div id="main-content" class="blog-page">
  <div class="container">
    <div class="row clearfix">
      <div class="col-lg-8 col-md-12 left-box">
        <div class="card single_post">
          <div class="body">
            <div class="img-post">
              <img
                class="d-block img-fluid"
                src="https://www.bootdey.com/image/800x280/FFB6C1/000000"
                alt="First slide"
              />
            </div>
            <h3>
              <a [routerLink]="['./blog-post/1']"
                >Unveiling the Hidden Charms of Luang Prabang, Laos</a
              >
            </h3>
            <p>
              Nestled in the lush greenery of northern Laos, along the banks of
              the Mekong River, lies the picturesque town of Luang Prabang.
              Steeped in history, culture, and natural beauty, this UNESCO World
              Heritage Site is a hidden gem waiting to be discovered by intrepid
              travelers seeking an authentic Asian experience.
            </p>
          </div>
          <div class="footer">
            <div class="actions">
              <a href="javascript:void(0);" class="btn btn-outline-secondary"
                >Continue Reading</a
              >
            </div>
            <ul class="stats">
              <li><a href="javascript:void(0);">General</a></li>
              <li><a href="javascript:void(0);" class="fa fa-heart">28</a></li>
              <li>
                <a href="javascript:void(0);" class="fa fa-comment">128</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="card single_post">
          <div class="body">
            <div class="img-post">
              <img
                class="d-block img-fluid"
                src="https://www.bootdey.com/image/800x280/FFB6C1/000000"
                alt="First slide"
              />
            </div>
            <h3>
              <a [routerLink]="['./blog-post/1']"
                >Unveiling the Hidden Charms of Luang Prabang, Laos</a
              >
            </h3>
            <p>
              Nestled in the lush greenery of northern Laos, along the banks of
              the Mekong River, lies the picturesque town of Luang Prabang.
              Steeped in history, culture, and natural beauty, this UNESCO World
              Heritage Site is a hidden gem waiting to be discovered by intrepid
              travelers seeking an authentic Asian experience.
            </p>
          </div>
          <div class="footer">
            <div class="actions">
              <a href="javascript:void(0);" class="btn btn-outline-secondary"
                >Continue Reading</a
              >
            </div>
            <ul class="stats">
              <li><a href="javascript:void(0);">General</a></li>
              <li><a href="javascript:void(0);" class="fa fa-heart">28</a></li>
              <li>
                <a href="javascript:void(0);" class="fa fa-comment">128</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="card single_post">
          <div class="body">
            <div class="img-post">
              <img
                class="d-block img-fluid"
                src="https://www.bootdey.com/image/800x280/FFB6C1/000000"
                alt="First slide"
              />
            </div>
            <h3>
              <a [routerLink]="['./blog-post/1']"
                >Unveiling the Hidden Charms of Luang Prabang, Laos</a
              >
            </h3>
            <p>
              Nestled in the lush greenery of northern Laos, along the banks of
              the Mekong River, lies the picturesque town of Luang Prabang.
              Steeped in history, culture, and natural beauty, this UNESCO World
              Heritage Site is a hidden gem waiting to be discovered by intrepid
              travelers seeking an authentic Asian experience.
            </p>
          </div>
          <div class="footer">
            <div class="actions">
              <a href="javascript:void(0);" class="btn btn-outline-secondary"
                >Continue Reading</a
              >
            </div>
            <ul class="stats">
              <li><a href="javascript:void(0);">General</a></li>
              <li><a href="javascript:void(0);" class="fa fa-heart">28</a></li>
              <li>
                <a href="javascript:void(0);" class="fa fa-comment">128</a>
              </li>
            </ul>
          </div>
        </div>

        <ul class="pagination pagination-primary">
          <li class="page-item">
            <a class="page-link" href="javascript:void(0);">Previous</a>
          </li>
          <li class="page-item active">
            <a class="page-link" href="javascript:void(0);">1</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="javascript:void(0);">2</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="javascript:void(0);">3</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="javascript:void(0);">Next</a>
          </li>
        </ul>
      </div>
      <!--Right side -->
      <div class="col-lg-4 col-md-12 right-box">
        <div class="card">
          <div class="body search">
            <div class="input-group m-b-0">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="fa fa-search"></i
                ></span>
              </div>
              <input type="text" class="form-control" placeholder="Search..." />
            </div>
          </div>
        </div>
        <div class="card">
          <div class="header">
            <h2>Categories</h2>
          </div>
          <div class="body widget">
            <ul class="list-unstyled categories-clouds m-b-0">
              <li><a href="javascript:void(0);">Guides</a></li>
              <li><a href="javascript:void(0);">Travel Tips</a></li>
              <li><a href="javascript:void(0);">Solo Travel</a></li>
              <li><a href="javascript:void(0);">Family Travel</a></li>
              <li><a href="javascript:void(0);">Budget Travel</a></li>
              <li><a href="javascript:void(0);">Luxury Travel</a></li>
              <li><a href="javascript:void(0);">Travel Ideas</a></li>
            </ul>
          </div>
        </div>
        <div class="card">
          <div class="header">
            <h3>
              Email Newsletter
              <small
                >Get our products/news earlier than others, let’s get in
                touch.</small
              >
            </h3>
          </div>
          <div class="body widget newsletter">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Enter Email"
              />
              <div class="input-group-append">
                <span class="input-group-text"
                  ><i class="icon-paper-plane"></i
                ></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
