@import "/src/assets/globalStyles/main.scss";

.chatbox {
  position: relative;
  border: 1px solid $secondary-color;
  border-radius: 8px;
  height: 550px;
  width: 50%;
  max-width: 700px;
  overflow-y: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.chat-header {
  word-spacing: -3px;
  color: #00134d;
  padding: 10px;
  text-align: center;
}

.chat-body {
  padding: 10px;
  max-height: 350px;
}

.chat-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 10px;
  background-color: $light-gray;
}

button {
  width: 50%;
  max-width: 700px;
  z-index: 999;
}

/// media query
@media only screen and (max-width: 900px) {
  .chatbox {
    height: 400px;
    width: 90%;
  }
  button {
    width: 90%;
  }
}
