<div class="d-flex justify-content-center align-items-center h-100">
    <div class="chatbox">
        <div class="chat-header">
            <h5 class="mb-0">My AI Assistant</h5>
        </div>
        <div class="chat-body">
            <message *ngFor="let message of this.chatbotService.allMessages in" [message]="message"></message>
            <div class="chat-footer fixed-footer">
                <input type="text"
                       class="form-control"
                       placeholder="Type your message..." />
                <button class="btn btn-secondary mx-1">
                    <i class="fa-solid fa-microphone"></i>
                </button>
                <button class="btn btn-primary mx-1">Send</button>
            </div>
        </div>
    </div>
</div>
