@import "/src/assets/globalStyles/main.scss";


.app-root {
  display: flex;
  flex-direction: column;
  align-content: space-between

}


html, body {
  min-height: 100%;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

