.app-root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.sky-bg {
  background: #4b79a1;
  background: -webkit-linear-gradient(to top, #283e51, #0a2342);
  background: linear-gradient(to top, #283e51, #0a2342);
  flex: 1;
  display: flex; /* Make this a flex container */
  flex-direction: column; /* Stack children vertically */
}

.router-wrapper {
  flex: 1; /* This will make router-wrapper take all remaining space */
}
