<!-- Footer -->
<footer class="text-center text-white fixed-bottom footer">
  <section
    class="text-center m-2 d-flex justify-content-around font-awesome-icon"
  >
    <a href="" class="text-white me-4 border-bottom">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="" class="text-white me-4 border-bottom">
      <i class="fab fa-linkedin"></i>
    </a>
    <a href="" class="text-white me-4 border-bottom">
      <i class="fab fa-github"></i>
    </a>
  </section>
  <section class="mb-1">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-8">
        <p>
          "Traveling is the grand adventure where you trade the familiar for the
          unknown, filling your life's pages with stories, one destination at a
          time."
        </p>
      </div>
    </div>
  </section>
  <div class="text-center p-2 footer-copyright">
    © {{ year }} Copyright by
    <a class="text-white" href="mailto:petertran198@gmail.com"
      >PeterTran198@gmail.com</a
    >
  </div>
</footer>
