<div
  class="container account-page h-100 d-flex justify-content-center align-items-center"
>
  >
  <div class="card login-signup-form mx-auto border-0">
    <div class="card-header border-bottom-0 bg-transparent">
      <ul
        class="nav nav-tabs justify-content-center pt-4"
        id="pills-tab"
        role="tablist"
      >
        <li class="nav-item">
          <a
            class="nav-link active text-primary"
            id="pills-login-tab"
            data-toggle="pill"
            href="#pills-login"
            role="tab"
            aria-controls="pills-login"
            aria-selected="true"
            >Login</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link text-primary"
            id="pills-register-tab"
            data-toggle="pill"
            href="#pills-register"
            role="tab"
            aria-controls="pills-register"
            aria-selected="false"
            >Register</a
          >
        </li>
      </ul>
    </div>

    <div class="card-body pb-4">
      <div class="tab-content" id="pills-tabContent">
        <div
          class="tab-pane fade show active"
          id="pills-login"
          role="tabpanel"
          aria-labelledby="pills-login-tab"
        >
          <div class="error-message" *ngIf="loginError != null">
            {{ this.loginError }}
          </div>

          <form>
            <div class="form-group">
              <input
                type="email"
                [(ngModel)]="this.loginRequestDto.userName"
                name="email"
                class="form-control"
                id="email"
                placeholder="Email/Username"
                required
                autofocus
              />
            </div>
            <div class="form-group">
              <input
                type="password"
                name="password"
                [(ngModel)]="this.loginRequestDto.password"
                class="form-control"
                id="password"
                placeholder="Password"
                required
              />
            </div>
            <div class="text-center pt-4">
              <button
                type="submit"
                class="btn btn-primary btn-block"
                (click)="this.login(this.loginRequestDto)"
              >
                Login
              </button>
            </div>
            <div class="text-center pt-3">
              <a class="btn btn-link text-primary" href="#"
                >Forgot Your Password?</a
              >
            </div>
          </form>
        </div>

        <div
          class="tab-pane fade"
          id="pills-register"
          role="tabpanel"
          aria-labelledby="pills-register-tab"
        >
          <form>
            <div class="form-group">
              <input
                type="text"
                name="name"
                [(ngModel)]="this.registrationRequestDto.name"
                id="name"
                class="form-control"
                placeholder="Name"
                required
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                name="email"
                [(ngModel)]="this.registrationRequestDto.email"
                id="email"
                class="form-control"
                placeholder="Email/Username"
                required
                autofocus
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                name="phone"
                [(ngModel)]="this.registrationRequestDto.phoneNumber"
                id="phone"
                class="form-control"
                placeholder="Phone Number"
              />
            </div>
            <div class="form-group">
              <input
                type="password"
                name="password"
                [(ngModel)]="this.registrationRequestDto.password"
                id="password"
                class="form-control"
                placeholder="Password"
                required
              />
            </div>
            <div class="text-center pt-2 pb-1">
              <button
                type="submit"
                class="btn btn-primary btn-block"
                (click)="this.register(this.registrationRequestDto)"
              >
                Register
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
